* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

html {
    background-color: #333;
    color: #eee;
}

h2 {
    margin-bottom: 16px;
}

#users-info {
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.userinfo-container {
    width: 100%;
    max-width: 1024px;
    margin: 32px 0;
    border-bottom: 1px solid #333;
}

.header {
    margin-bottom: 24px;
}

.body {
    display: none;
}

.userData {
    margin-bottom: 24px;
}

.answers {
    margin-bottom: 32px;
}

.toggle {
    display: block;
}

.btn {
    width: 300px;
    padding: 8px 24px;
    margin-top: 24px;
    border: none;
    color: #eee;
    font-weight: 800;
}

.btn-primary {
    background-color: #458f14;
}

/* Style all input fields */
input {
    width: 100%;
    padding: 12px;
    border: 1px solid rgb(160, 136, 136);
    border-radius: 4px;
    box-sizing: border-box;
    align-self: center;
    margin-top: 6px;
    margin-bottom: 16px;
  }
  
  /* Style the submit button */
  input[type=submit] {
    background-color: #4CAF50;
    color: white;
  }
  
  /* Style the container for inputs */
  .container {
    background-color: #332b2b;
    padding: 20px;
  }
  
  /* The message box is shown when the user clicks on the password field */
  #message {
    display:none;
    background: #f1f1f1;
    color: #000;
    position: relative;
    padding: 20px;
    margin-top: 10px;
  }
  
  #message p {
    padding: 10px 35px;
    font-size: 18px;
  }
  
  /* Add a green text color and a checkmark when the requirements are right */
  .valid {
    color: green;
  }
  
  .valid:before {
    position: relative;
    left: -35px;
    content: "✔";
  }
  
  /* Add a red text color and an "x" when the requirements are wrong */
  .invalid {
    color: red;
  }
  
  .invalid:before {
    position: relative;
    left: -35px;
    content: "✖";
  }