* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: sans-serif;
}

.survey-container {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    max-width: 450px;
    margin: 0 auto;
}

ul#survey-list {
    margin-top: 40px;
}

li {
    list-style: none;
    cursor: pointer;
    margin-bottom: 16px;
    border: 2px solid orange;
    transition: all .1s;
}

li:hover {
    background-color: rgba(255, 166, 0, 0.153);
}

.choice-item {
    display: flex;
    flex-direction: row;

}

.choice-item p {
    width: 90%;
    display: flex;
    align-items: center;
}

.question-mark {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: orange;
    width: 10%;
    min-height: 50px;
    height: auto;
    margin-right: 8px;
    color: white;
    font-weight: bold;
}
